In [3]:
"""
Datetimeindex and Resample adalah teknik untuk mengubah data menjadi data time series
time series adalah data yang memiliki index berupa waktu
"""
import pandas as pd
df = pd.read_csv("Dataset/aapl.csv")
df.head()

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [9]:
print(type(df["Date"][0])) # ini masih berupa string
df["Date"] = pd.to_datetime(df["Date"]) # mengubah string menjadi datetime
print(type(df["Date"][0])) # ini sudah berupa datetime

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

C:\Users\admin\AppData\Local\Temp\ipykernel_5072\2747904273.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df["Date"]) # mengubah string menjadi datetime