In [12]:
"""
Shifting and Lagging adalah teknik untuk menggeser data ke atas atau ke bawah
dari data aslinya. Teknik ini dapat digunakan untuk membuat data yang
berbeda dari data aslinya.
"""
import pandas as pd
df = pd.read_csv("Dataset/msft.csv", index_col="Date Time", parse_dates=True)
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

## Using shift

In [13]:
"""shift digunakan untuk menggeser data ke atas atau ke bawah"""
df.shift(1) # menggeser data ke bawah sebanyak 1 baris

                     Price
Date Time
2017-08-17 09:00:00    NaN
2017-08-17 09:15:00  72.38
2017-08-17 09:30:00  71.00
2017-08-17 10:00:00  71.67
2017-08-17 10:30:00  72.80
2017-08-17 11:00:00  73.00

In [14]:
df.shift(-1) # menggeser data ke atas sebanyak 1 baris

                     Price
Date Time
2017-08-17 09:00:00  71.00
2017-08-17 09:15:00  71.67
2017-08-17 09:30:00  72.80
2017-08-17 10:00:00  73.00
2017-08-17 10:30:00  72.50
2017-08-17 11:00:00    NaN

In [15]:
df.index # menampilkan index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [16]:
df.index = pd.date_range(start="2017-08-17 09:00:00", periods=6, freq="B")
df.index # menampilkan index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-18 09:00:00',
               '2017-08-21 09:00:00', '2017-08-22 09:00:00',
               '2017-08-23 09:00:00', '2017-08-24 09:00:00'],
              dtype='datetime64[ns]', freq='B')

## Using tshift

In [18]:
"""
tshift digunakan untuk menggeser data ke atas atau ke bawah
dengan menggeser indexnya

perbedaan shift dan tshift adalah shift menggeser data
dan tshift menggeser index
"""
df.tshift(1) # menggeser index ke atas sebanyak 1 baris

                     Price
2017-08-17 09:00:00    NaN
2017-08-18 09:00:00  72.38
2017-08-21 09:00:00  71.00
2017-08-22 09:00:00  71.67
2017-08-23 09:00:00  72.80
2017-08-24 09:00:00  73.00