In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [4]:

jumlah_kucing = np.array([3, 2, 1, 1, 2, 3, 2, 1, 0, 2])
rata_rata = jumlah_kucing.mean()
median = np.median(jumlah_kucing)
modus = stats.mode(jumlah_kucing)

In [ ]:
#Range
#berfungsi untuk mencari jangkaun yaitu jarak antara nilai maksimum dan minimum
range = jumlah_kucing.max() - jumlah_kucing.min()
print(range)

#Interquartile Range
# Interquartile Range atau sering disingkat IQR merupakan parameter statistik yang menggambarkan selisih antara kuartil ketiga (Q3) dan kuartil pertama (Q1).
iqr = np.percentile(jumlah_kucing,75) - np.percentile(jumlah_kucing,25)
print(iqr)

#Veries
# Selain range dan IQR, sebaran dari suatu data juga dapat direpresentasikan menggunakan parameter variance. Ia merupakan parameter yang digunakan untuk menggambarkan besar simpangan suatu titik data dari nilai mean-nya. 
series = pd.Series(jumlah_kucing)
series.var()

#Standar Deviasi
standar_deviasi = series.std()

In [ ]:
#Distribusi Data
plt.hist(jumlah_kucing,bins=4)
plt.show()
#Skew
series.skew()

In [ ]:
#Data Relationship
#Corellation
sample_data = {
    'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
    'age': [24, 22, 23, 25, 28],  
    'communication_skill_score': [85, 70, 75, 90, 90],
    'quantitative_skill_score': [80, 90, 80, 75, 70]
}
df = pd.DataFrame(sample_data)
df.corr(numeric_only=True)

In [ ]:
#Covariance
df.cov(numeric_only=True)

In [4]:
proudct_df = pd.read_csv("salaries.csv",delimiter=",")
proudct_df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,EX,FT,Information Security Officer,160000,USD,160000,US,100,US,M
1,2023,EX,FT,Information Security Officer,100000,USD,100000,US,100,US,M
2,2023,SE,FT,Security Engineer,247250,USD,247250,US,0,US,M
3,2023,SE,FT,Security Engineer,160000,USD,160000,US,0,US,M
4,2023,SE,FT,Security Engineer,224250,USD,224250,US,0,US,M

In [4]:
df.duplicated().sum()

1402

In [5]:
#Outliners
q25, q75 = np.percentile(jumlah_kucing,25), np.percentile(jumlah_kucing,75)
iqr = q75 - q25
cut_off = iqr*1.5
minimum,maksimum = q25 - cut_off,q75 + cut_off
outliers = [x for x in jumlah_kucing if x < minimum or x > maksimum]

CLEANING DATA

In [ ]:
#define
#Metode pertama dan yang paling mudah dalam mengatasi missing value adalah dropping.
proudct_df.dropna(axis=0,inplace=True)
display(proudct_df)

In [5]:
#imputation
#Metode ini bekerja dengan cara mengisi (fill) missing value dengan nilai tertentu
proudct_df.fillna(value=proudct_df.work_year,inplace=True)

In [6]:
#Interpolation
#Metode penanganan missing value terakhir yang akan kita bahas ialah interpolation (interpolasi). Sederhananya, 
#interpolasi merupakan salah satu pendekatan numerik yang digunakan untuk menghitung titik data baru berdasarkan range data yang sudah ada.
proudct_df.work_year.interpolate(method='linier',limit_direction='forward',inplace=True)

In [7]:
#Duplicate Data
proudct_df.drop_duplicates(inplace=True)

In [11]:
#Outlier - Drop 
#Metode pertama yang paling mudah ialah men-drop atau menghapus seluruh baris yang mengandung outlier. 
Q1 = (proudct_df['salary']).quantile(0.25)
Q3 = (proudct_df['salary']).quantile(0.75)
IQR = Q3 - Q1
max = Q3 + (1.5*IQR)
min = Q1 - (1.5*IQR)
kondisi_lower = proudct_df['salary'] < min
kodisi_more = proudct_df['salary'] > max
proudct_df.drop(proudct_df[kondisi_lower].index,inplace=True)
proudct_df.drop(proudct_df[kodisi_more].index,inplace=True)

In [1]:
#Outlier - Imputation
proudct_df.mask(cond=kondisi_lower,min,axis=1,inplace=True)
proudct_df.mask(cond=kodisi_more,max,axis=1,inplace=True)

SyntaxError: positional argument follows keyword argument (555910009.py, line 2)