In [9]:
import pandas as pd
data = pd.read_csv("Example Dataset/weather_data.csv")
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## Using Skiprows

In [10]:
data = pd.read_csv("Example Dataset/weather_data.csv", skiprows=1)
data

   1/1/2017  32  6   Rain
0  1/2/2017  35  7  Sunny
1  1/3/2017  28  2   Snow

## Using Header

In [11]:
data = pd.read_csv("Example Dataset/weather_data.csv", header=None)
data

          0            1          2      3
0       day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow

In [12]:
data = pd.read_csv("Example Dataset/weather_data.csv", header=None, names=["day", "temperature", "windspeed", "event"])
data

        day  temperature  windspeed  event
0       day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow

## Using Na_values

In [13]:
# na_values - digunakan untuk mengganti nilai yang kosong dengan nilai yang kita inginkan
data = pd.read_csv("Example Dataset/weather_data.csv", na_values=["not available", "n.a","Sunny"])
data

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
1  1/2/2017           35          7   NaN
2  1/3/2017           28          2  Snow

In [14]:
data =pd.read_csv("Example Dataset/weather_data.csv",na_values=(
    {
        'temperature':["not available", "n.a"],
        'windspeed':["not available", "n.a", -999],
        'event':["not available", "n.a"]
    }
))
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## Using to_csv()

In [15]:
#to_csv - digunakan untuk menyimpan data ke dalam file csv
data.to_csv("Example Dataset/new.csv")

In [17]:
data.to_csv("Example Dataset/new2.csv", header=False)

## Using read_xlsx()

In [19]:
def convert_event_cell(cell):
    if cell == "n.a":
        return "Sunny"
    return cell

data = pd.read_excel("Example Dataset/weather_data.xlsx", "Sheet1",converters={
    'event':convert_event_cell,
    'temperature':lambda x: x*2
})
data

         day  temperature  windspeed  event
0 2017-01-01           64          6   Rain
1 2017-01-02           70          7  Sunny
2 2017-01-03           56          2   Snow

## Using to_excel()

In [22]:
data.to_excel("Example Dataset/new3.xlsx", sheet_name="Weather Data",startrow=1, startcol=2, index=False)