In [1]:
import pandas as pd

In [5]:
# Create the first dataframe
df1 = pd.DataFrame({'C': [1, 2, 3,4], 'B': [4, 5, 6,7]})

# Create the second dataframe
df2 = pd.DataFrame({'C': [1, 2, 9], 'D': [10, 11, 12]})

data = pd.merge(df1,df2,on="C") #parameter on adalah kolom yang digunakan untuk menggabungkan 2 dataframe
data
#merge adalah menggabungkan 2 dataframe yang memiliki kolom yang sama

   C  B   D
0  1  4  10
1  2  5  11

## Using left and right parameters

In [11]:

# Create the first dataframe
df1 = pd.DataFrame({'kota': ['Jakarta', 'Bandung', 'Surabaya','Padang'], 'cuaca': ['Sunny', 'Cloudy', 'Rainy','Sunny']})

# Create the second dataframe
df2 = pd.DataFrame({'kota': ['Jakarta', 'Bandung', 'Surabaya','sulawesi'], 'temperatur': [30, 25, 28,25]})

data = pd.merge(df1,df2,how='right') #how left adalah menggabungkan 2 dataframe yang memiliki kolom yang sama dan menampilkan semua data dari dataframe pertama
data

       kota   cuaca  temperatur
0   Jakarta   Sunny          30
1   Bandung  Cloudy          25
2  Surabaya   Rainy          28
3  sulawesi     NaN          25

In [12]:
data = pd.merge(df1,df2,how='left')
data

       kota   cuaca  temperatur
0   Jakarta   Sunny        30.0
1   Bandung  Cloudy        25.0
2  Surabaya   Rainy        28.0
3    Padang   Sunny         NaN

## Using suffixes

In [15]:
# Create the first dataframe
df1 = pd.DataFrame({'C': [1, 2, 9], 'D': [4, 5, 6]})

# Create the second dataframe
df2 = pd.DataFrame({'C': [1, 2, 9], 'D': [10, 11, 12]})

data = pd.merge(df1,df2,on ="C",suffixes=('_left','_right')) #suffixes adalah menambahkan suffix pada kolom yang sama
data

   C  D_left  D_right
0  1       4       10
1  2       5       11
2  9       6       12